#main {
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.d {
  border-left: solid 4px;
  border-color: orange;
  padding: 5px;
}

#i {
  text-align: center;
}

.r {
  color: red;
}

.container {
  width: 40%;
  margin: 0 auto;
}

.b {
  background-color: rgb(219, 143, 28);

  border-top: solid orange;
  padding: 20px;
}
