body {
  background-image: url(sfondo.png);
  background-repeat: repeat;
  font-family: Arial, Helvetica, sans-serif;
}

.testa {
  background-color: aqua;
  width: 450px;
  height: 350px;

  padding: 5px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}

article {
  display: inline block;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  align-items: left;
  margin-inline: 150px;
}

table {
  border: solid;
  display: inline block;
  padding: 5px;
  margin: 0 auto;
  text-align: center;

  margin-inline: 100px;
}

.container {
  background-color: aqua;
  width: 450px;
  height: 350px;
  border: 5px solid;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
}

.wbox {
  background-color: white;
  width: 450px;
  height: 1740px;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
}

footer {
  background-color: aqua;
  width: 450px;
  height: 90px;

  padding: 5px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}

.gbox {
  background-color: lightgray;
  width: 440px;
  height: 110px;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}

button {
  background-color: blue;
}
